/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-light: #55BDC3;
    --blue-dark: #1F9F9F;
    --blue-darker: #158383;
    --light-green: #C3F063;
    --dark-green: #769C26;
    --white: #fff;
    --dark: #232323;
}

body {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 15px;
}

.m-btn {
    all: unset;
    cursor: pointer;
    text-align: center;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: var(--light-green);
    text-decoration: none;
    color: var(--dark);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .5s ease-in-out;
}

.m-btn:hover {
    color: var(--white);
    background-color: var(--dark-green);
}


.label {
    font-size: 13px;
    text-transform: uppercase;
    color: var(--white);
    padding: 5px 25px 5px 25px;
    background-color: #FFFFFF40;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
    display: inline-block;
}

.wrapper {
    overflow: hidden;
}

/*
===============================================
    HEADER SECTION START 
===============================================
*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .navbar-brand img {
    width: 150px;

}

.header .nav-links ul li {
    margin: 5px 20px;
}

.header .nav-links ul li a {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    transition: .5s ease-in-out;
}

.header .nav-links ul li a:is(:hover, .active) {
    color: var(--light-green);
}

.header .nav-links ul li .dropdown-menu {
    width: 180px;
    display: block;
    padding: 0;
    border-color: transparent;
    border-radius: 0;
    opacity: 0;
    pointer-events: none;
}

.header .nav-links ul li:hover .dropdown-menu {
    opacity: 1;
    pointer-events: all;
}

.header .nav-links ul li .dropdown-menu a {
    color: var(--dark);
    padding: 12px 20px;
    display: block;
}

.header .nav-links ul li .dropdown-menu a:hover {
    color: var(--white);
    background-color: var(--dark-green);
}


/* 
=========================================
    HERO SECTION START
=========================================
*/

.hero {
    background-image: linear-gradient(120deg, var(--blue-light) 0%, var(--blue-dark) 44%);
    min-height: 100vh;
    align-content: center;
    padding-top: 200px;
}

.hero .hero-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--white);
}

.hero .hero-text h1 span {
    color: var(--light-green);
}

.hero .hero-text p {
    font-size: 16px;
    color: var(--white);
}

.hero .hero-text p a {
    font-size: 15px;
    color: var(--white);
    text-decoration: none;
    transition: .5s ease-in-out;
    font-weight: 500;
}

.hero .hero-text p a:hover {
    color: var(--dark);
}

.hero .hero-text .newsLetter {
    margin-bottom: 15px;
}

.hero .hero-text .newsLetter .input-wrap {
    max-width: 1000px;
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    border-radius: 100px;
    padding: 5px;
}

.hero .hero-text .newsLetter .input-wrap input {
    all: unset;
    /* width: 80%; */
    border: 1px solid transparent;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: none;
    padding: 0 15px;
    color: var(--white);
    height: 40px;
    flex: 2.5;
}

.hero .hero-text .newsLetter .input-wrap input::placeholder {
    color: var(--white);
    opacity: .6;
    font-weight: 300;
}

.hero .hero-text .newsLetter .input-wrap input:focus {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.hero .hero-text .newsLetter .input-wrap button {
    flex: 1;
    width: 100px !important;
    white-space: nowrap;
    border: none;
}

.hero .hero-text .h-reviews .user-review {
    margin-right: 10px;
}

.hero .hero-text .h-reviews .user-review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--light-green);
    margin-left: -10px;
}

.hero .hero-text .h-reviews .user-review img:first-child {
    margin-left: 0;
}

.hero .review-star .stars i {
    color: var(--light-green);
    font-size: 14px;
}

.hero .review-star p {
    font-size: 13px;
    color: var(--white);
}

.hero .hero-img {
    position: relative;
    isolation: isolate;
    transform: translateX(70px);
}

.hero .hero-img .awards {
    position: absolute;
    top: 60%;
    right: 50px;
    width: 160px;
    padding: 20px 20px;
    border-radius: 30px;
    background-color: var(--light-green);

}

.hero .hero-img .awards .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--dark);
    color: var(--white);
    align-content: center;
    margin: auto;
    margin-bottom: 15px;
}

.hero .hero-img .awards .user i {
    font-size: 22px;
}

.hero .hero-img .awards h6 {
    font-size: 18px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.hero .hero-img .awards span {
    font-size: 13px;
    text-transform: uppercase;
}


.hero .hero-img .happy-client {
    left: -40px;
    top: 43%;
    width: 200px;
    padding: 8px;
    border-radius: 100px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.45);
    z-index: -1;

}

.hero .hero-img .happy-client .user {
    margin: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero .hero-img .happy-client h6 {
    color: var(--white);
    margin-bottom: 0;
}

.hero .hero-img .happy-client span {
    color: var(--white);
}

.hero .hero-img .chart-img {
    background-color: var(--blue-light);
    border-radius: 30px;
    display: inline-block;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/* 
=========================================
    HERO SECTION END
=========================================
*/

/* 
=========================================
    ABOUT SECTION START
=========================================
*/
.about {
    margin: 100px 0;
}

.about .about-imges {
    position: relative;
    min-height: 600px;
}

.about .about-imges .img-1 {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50px;
    width: 65%;
}

.about .about-imges .img-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    border-radius: 50px;
    border: 7px solid var(--white);
}

.about .about-imges .about-video {
    position: absolute;
    top: 23%;
    left: 10%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid var(--white);
    overflow: hidden;
}

.about .about-imges .about-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about  .about-text .label{
    background-color: var(--blue-light);
    opacity: 0.7;
    /* padding: 3px 20px; */
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.45);
}
.about  .about-text h2 span{
    color: var(--blue-light);
}

/* 
=========================================
    ABOUT SECTION END
=========================================
*/

/* 
=========================================
    OUR PROCESS SECTIONS START
=========================================
*/
.process-section {
    background-color: transparent;
    background-image: linear-gradient(120deg, var(--blue-light) 0%, var(--blue-dark) 44%);
    padding: 80px 0;
    margin-bottom: 200px;
}

.section-header {
    max-width: 700px;
    margin: auto;
    margin-bottom: 70px;
}

.section-header h2 {
    font-size: 34px;
    font-weight: 700;
    color: var(--white);
    max-width: 550px;
    margin: auto;
    margin-bottom: 20px;
}

.section-header h2 span {
    color: var(--light-green);
}

.section-header p {
    font-size: 15px;
    color: var(--white);
}

.process-section .process {
    margin-bottom: 50px;
}

.process-section .process .process-icon {
    margin: 20px auto;
    width: 70px;
    height: 70px;
    border: 2px solid var(--white);
    align-content: center;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
    transform: rotate(-45deg);
}

.process-section .process .process-icon svg {
    transform: rotate(45deg);
    width: 30px;
    transition: .5s ease-in-out;
}

.process-section .process:hover .process-icon svg {
    scale: 1.1;
}

.process-section .process h4 {
    font-size: 22px;
    color: var(--white);
    margin: 15px 0;
    margin-top: 35px;
}

.process-section .process p {
    color: var(--white);
}

.process-count-wrap{
    position: absolute;
    top: 102%;
    width: 100%;
    background-color: var(--blue-darker);
    border-radius: 30px;
    padding: 30px;
}
.process-count-wrap .process-count{
    border-right: 1px solid rgba(255, 255, 255, 0.45) ;
}
.process-count-wrap .process-count h2{
    text-align: center;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px var(--white);
}
.process-count-wrap .process-count p{
    text-align: center;
    color: var(--white);
    margin-bottom: 0;
}

/* 
=========================================
    OUR PROCESS SECTIONS END
=========================================
*/

/* 
=========================================
     APPLY SECTION START
=========================================
*/
.apply-section{
    background-color: #F0F0F0;
    padding: 80px 0;
}
.apply-section .apply-text p{
    margin: 20px 0;
    margin-bottom: 30px;
}
.apply-section .apply-img img{
    border-radius: 20px;
}
/* 
=========================================
     APPLY SECTION END
=========================================
*/


/* 
=========================================
     WHY SECTION START
=========================================
*/
.why-section{
    padding: 100px 0;
    background-color: #F0F0F0;
}
.why-section h2 span{
    color: var(--blue-light);
}

.why-section .why-card{
    background-color: var(--white);
    padding: 30px 20px;
    border-radius: 30px;
    transition: .5s ease-in-out;
}
.why-section .why-card.active{
    background-image: linear-gradient(141deg, var(--blue-light) 59%, var(--blue-dark) 100%);
}
.why-section .why-card.active .icon{
    border-color: var(--white);
    box-shadow: 6px 6px 0px 0px rgba(41, 121, 126, 0.27);

}
.why-section .why-card.active .icon i{
    color: var(--white);
}
.why-section .why-card.active {
    color: var(--white);
}
.why-section .why-card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
.why-section .why-card .icon{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    border: 2px solid var(--blue-light);
    transform: rotate(-45deg);
    margin: 15px;
    box-shadow: 6px 6px 0px 0px rgba(85.00000000000001, 188.99999999999994, 194.99999999999997, 0.27);
}
.why-section .why-card .icon i{
    font-size: 24px;
    color: var(--blue-light);
    transform: rotate(45deg);
}
.why-section .why-card h4{
    font-size: 22px;
    font-weight: 600;
    margin: 25px 0;
}
.why-section .why-card p{

}

/* 
=========================================
     WHY SECTION END
=========================================
*/

/* 
=========================================
     PRICE SECTION START
=========================================
*/
.price-section{
    margin: 80px 0;
}
.price-section .price-slider .price-card{
    /* width: 350px; */
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 20px;
}
.price-section .price-slider .price-card > small{
    font-size: 18px;
    font-weight: 700;
    color: var(--dark);
}
.price-section .price-slider .price-card strike{
    font-size: 28px;
    font-weight: 600;
    color: red;
}
.price-section .price-slider .price-card h2{
    font-size: 36px ;
    font-weight: 600;
    color: var(--blue-dark);
    margin-top: 15px;
}
.price-section .price-slider .price-card h2 small{
    font-size: 17px;
    color: var(--dark);
}
.price-section .price-slider .price-card ul{
    padding: 0;
    margin: 15px 0;
    list-style: none;
    padding-left: 10px;
    
}
.price-section .price-slider .price-card ul li{
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
}
.price-section .price-slider .price-card ul li i{
    position: absolute;
    left: -10px;
    top: 3px;
    color: var(--blue-dark);
}
.price-section .price-slider .price-card a.m-btn{
    color: var(--white);
    background-color: var(--blue-dark);
}
.price-section .price-slider .price-card a.m-btn:hover{
    background-color: var(--blue-darker);
}
/* 
=========================================
     PRICE SECTION END
=========================================
*/


/* 
=========================================
     TESTIMONIAL SECTION START
=========================================
*/
.testimonials{
    padding: 80px 0;
    background-color: #F0F0F0;
}
.testimonials .label{
    background-color: var(--blue-light);
}
.testimonials .clients .client{
    width: calc(100% - 100px);
    border-radius: 100px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 15px 30px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.testimonials .clients .client:nth-child(odd){
    margin-left: auto;
}
.testimonials .clients .client:nth-child(even){
    background-color: var(--blue-light);
    color: var(--white);
}

.testimonials .clients .client p{
    margin: 0;
}
.testimonials .clients .client .img{
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.testimonials .clients .client .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 
=========================================
     TESTIMONIAL SECTION END
=========================================
*/
/* 
=========================================
     FOOTER SECTION START
=========================================
*/
.footer{
    background-color: var(--dark);
    padding-top: 50px;
}
.footer .icons{
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer .icons li a{
    display: block;
    align-content: center;
    text-align: center;
    color: var(--dark);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--light-green);
    transition: .5s ease-in-out;
}
.footer .icons li a:hover{
    color: var(--white);
    background-color: var(--dark-green);
}
.footer img{
    width: 150px;
    margin-bottom: 20px;
}
.footer p{
    color: #838282;
}
.footer h3{
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer ul li a{
    color: #838282;
    font-size: 15px;
    text-decoration: none;
}
.footer ul li a:hover{
    color: var(--dark-green);
}

.footer .ft-bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 15px 0;
    margin-top: 20px;
}
.footer .ft-bottom ul{
    gap: 10px;
    margin-bottom: 0;
}
/* 
=========================================
     FOOTER SECTION END
=========================================
*/